<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head.ejs') %>
</head>

<body>

  <%- include('../../layout/book.ejs') %>

  <button id="show">Update Details</button>

  <form action="/delete/<%= book.id %>?_method=DELETE" method="post">
    <button><a href="/delete/<%= book.id%>">Remove from favorites</a></button>
  </form>

  <div id="details-form">
    <form action="/update/<%= book.id %> ?_method=PUT" method="post">
      <%- include('../../layout/form.ejs') %>

      <select id="menu" name="bookshelf">
        <% test.forEach(book => { %>
        <option><%= book.bookshelf %></option>
        <% }); %>
      </select>
      <button id="hide">Submit</button>
    </form>
  </div>

  <footer>
    <a href="/">Go to favorites</a>
    <a href="/searches">Search an author / book</a>
    <a type="button" href="#" onclick="history.back()">Go Back</a>
  </footer>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script>
    $('#details-form').hide();
    $('#show').on('click', () => {
      $('#details-form').show();
    });

    $('#hide').on('click', () => {
      $('#details-form').hide();
    });
  </script>
</body>

</html>