<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section>
    <p><%= oneBook.title %></p>
    <p><%= oneBook.authors %></p>
    <p><%= oneBook.description %></p>
    <p><%= oneBook.isbn %></p>
    <img src="<%= oneBook.image_url %>" alt="<%= oneBook.title %>">
  </section>

</body>

</html>