<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head.ejs') %>
</head>

<body>

  <section>
    <p><%= oneBook.title %></p>
    <p><%= oneBook.authors %></p>
    <p><%= oneBook.description %></p>
    <p><%= oneBook.isbn %></p>
    <img src="<%= oneBook.image_url %>" alt="<%= oneBook.title %>">
  </section>

  <footer>
    <a href="/">Go to favorites</a>
    <a href="/searches">Search an author / book</a>
    <a type="button" href="#" onclick="history.back()">Back to gallery</a>
  </footer>
</body>

</html>