<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head.ejs') %>
</head>

<body>
  <section>
    <p><%= oneBook.title %></p>
    <p><%= oneBook.authors %></p>
    <p><%= oneBook.description %></p>
    <p><%= oneBook.isbn %></p>
    <img src="<%= oneBook.image_url %>" alt="<%= oneBook.title %>">
  </section>

</body>

</html>