<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <span><%= oneBook.title %></span>
    <span><%= oneBook.authors %></span>
    <span><%= oneBook.description %></span>
    <span><%= oneBook.isbn %></span>
    <span><%= oneBook.image_url %></span>
  </section>
  
</body>
</html>