<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head.ejs') %>
</head>

<body>

  <section>
    <p><%= oneBook.title %></p>
    <p><%= oneBook.authors %></p>
    <p><%= oneBook.description %></p>
    <p><%= oneBook.isbn %></p>
    <img src="<%= oneBook.image_url %>" alt="<%= oneBook.title %>">
  </section>

  <button id="show">Update Details</button>

  <div id="details-form">
    <%- include('../books/edit.ejs') %>
  </div>

  <footer>
    <a href="/">Go to favorites</a>
    <a href="/searches">Search an author / book</a>
    <a type="button" href="#" onclick="history.back()">Go Back</a>
  </footer>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script>
    $('#details-form').hide();
    $('#show').on('click', () => {
      $('#details-form').show();
    });

    $('#hide').on('click', () => {
      $('#details-form').hide();
    });
  </script>
</body>

</html>