<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/public/styles/base.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1> Book App</h1>
    <a href="/searches">Search an author / book</a>
  </header>

  <main>
    <section id='in-database'>
      <p>Books on Bookshelf: <%=bookCount %></p>
      <% books.forEach(book => { %>
      <div class="book">
        <p><%= book.title %></p>
        <p><%= book.authors %></p>
        <img src="<%= book.image_url %>" alt="book.title">
        <a href="/books/<%= book.id %>">Show Details</a>
      </div>
      <input type="hidden" name="title" value=<%= book.title %>>
      <input type="hidden" name="authors" value=<%= book.authors %>>
      <% }); %>
    </section>
  </main>
</body>

</html>